<div class="header">
    <div class="flex justify-around">
        <img style="max-width: 11%;" src="../../assets/img/claim-credit-mutuelle.svg" />
        <img src="../../assets/img/logo_argeles_rond_bleu.png" />
    </div>
    <div class="grid grid-template-column-3">
        <img class="column-2" style="max-width: 60%; justify-self: center;" src="../../assets/img/logo.png" />
        <img class="column-3" style="max-width: 25%; align-self: center;" src="../../assets/img/dates-2021.png" />
    </div>
    <div class="font-gobold nav flex justify-center">
        <div class="div-first">ACCUEIL</div>
        <div>BILLETERIE</div>
        <div>PROG</div>
        <div class="div-end">PARTENAIRES</div>
    </div>
    <div class="header-link font-gobold flex justify-center align-center">
        <i class="fas fa-envelope"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-spotify"></i>
        <span style="font-size: 22px;">RIFFX<span style="font-size: 16px;">.FR</span></span>
    </div>
</div>