<div>
    <div class="div-1 flex">
        <div style="width: 50%;">
            <img class="img1" style="max-width: 60%; justify-self: center;" src="../../assets/img/crane.png" />
        </div>
        <div style="width: 50%;" class="flex justify-end">
            <img class="img2" style="max-width: 60%;" src="../../assets/img/nuage-copy-3.png" />
        </div>
    </div>
    <div class="div-2" style="color: white;">
        <div class="div-2-1">
            <div class="column-3">
                <h3 class="font-gobold title">PARTENAIRES</h3>
                <div class="lien flex flex-dir-col gap-5">
                    <span>Devenir Partenaire</span>
                    <span>Nos Partenaires</span>
                </div>
            </div>
            <div>
                <h3 class="font-gobold title">PRO / PRESSE</h3>
                <div class="lien">
                    <span>Document presse</span>
                </div>
            </div>
            <div class="lien flex flex-dir-col gap-5 justify-center">
                <span>Contact</span>
                <span>Mentions légales</span>
                <span>Plan du site</span>
            </div>
        </div>
        <div class="font-gobold div-2-1">
            <div style="grid-column: 5/7;">
                <div class="button" style="margin: 25px 0;">INSCRIVEZ VOUS A LA NEWSLETTER !</div>
                <div class="button">ENVIE D'ETRE BENEVOLE?</div>
            </div>
        </div>
        <div style="text-align: center; padding:25px">
            <span>© 2020 Festival Les Déferlantes Sud de France | Réalisation AttrapTemps</span>
        </div>
    </div>

</div>