<div style="background-color: #41b8ff;">

    <!-- A DECOMMENTER pour le caroussel-->
    <!-- <carousel id="carousel" cellsToShow="1" overflowCellsLimit="1" loop="true" autoplay="true">
        <div class="carousel-cell">
            <img  src="../../assets/img/CARROUSELS2-scaled.jpg">
        </div>
        <div class="carousel-cell">
            <img src="../../assets/img/CARROUSELS3-scaled.jpg">
        </div>
        <div class="carousel-cell">
            <img src="../../assets/img/CARROUSELS4-scaled.jpg">
        </div>
    </carousel> -->
    
    <!-- A COMMENTER pour le caroussel-->
    <div id="carousel">
        <div class="carousel-cell">
            <img style="height: 500px; width: 100%;"  src="../../assets/img/CARROUSELS2-scaled.jpg">
        </div>
    </div>
  <!-- -->
  
    <div class="div-2">
        <div class="div-info">
            <div>
                <img style="width: 470px;" src="../../assets/img/prog.jpg">
                <div class="button-info prog">PROG 2021</div>
            </div>
            <div>
                <img style="width: 470px;" src="../../assets/img/billeterie.jpg">
                <div class="button-info billetrie">BILLETRIE 2021</div>
            </div>
        </div>
        <div class="div-iframe">
            <iframe 
            title="#DEF19 - Aftermovie - Les Déferlantes Sud de France" 
            src="https://www.youtube.com/embed/Djq-D2IH3wU?feature=oembed" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen="" 
            name="fitvid0"></iframe>
        </div>
    </div>

</div>
